<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Jack</title>
</head>
<body>
  <div class = "container">
    <div clas = "row">
      <div class="jumbotron">
          <h1 class="display-4">HAPPY BIRTHDAY JACK</h1>
          <p class="lead">Thanks for being a part of the Sassy Stingrays!</p>
          <hr class="my-4">
          <p>Hope you had a great day!</p>
        </div>
    </div>
  </div>



</body>
</html>